node_modules
dist
es
lib
temp
.umi
jest
types
.umi-production
# rust
target
.DS_Store
# c++
*.out
*.o
databases
.cargo
.nx
.nx/cache
.nx/workspace-data

storybook-static
.env
.env.*
venv
__pycache__
databases