[submodule "submodules/package-json-extension"]
	path = submodules/package-json-extension
	url = https://github.com/bestlyg/package-json-extension.git
[submodule "submodules/less-plugins"]
	path = submodules/less-plugins
	url = https://github.com/bestlyg/less-plugins.git
[submodule "submodules/best-design"]
	path = submodules/best-design
	url = https://github.com/bestlyg/best-design.git
[submodule "submodules/best-style"]
	path = submodules/best-style
	url = https://github.com/bestlyg/best-style.git
