auto-install-peers=true
strict-peer-dependencies=false
resolve-peers-from-workspace-root=true
dedupe-peer-dependents=true
shared-workspace-lockfile=false
# registry=https://registry.npmjs.org/
registry=https://registry.npmmirror.com
use-node-version=20.10.0
node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/