.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}
.nav {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  z-index: 99;
  box-sizing: border-box;
}
.title {
  font-size: 32px;
}
.left,
.center,
.right {
  max-width: 80%;
  height: 100%;
}
.left {
  justify-content: flex-start !important;
  flex: 1;
  text-align: left;
}
.center {
  flex: 3;
  text-align: center;
}
.right {
  justify-content: flex-end !important;
  flex: 1;
  text-align: right;
}
.back {
  margin-right: 10px;
}
