@import './utils.less';


.resume {
    @width: ~'min(@{width-a4}, 100% - 100px)';
    --resume-width: @width;
    margin: 0 auto;
    margin-block: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 300px;
    width: var(--resume-width);
    height: fit-content;
    box-sizing: border-box;

    &-container {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #606060;
        overflow-y: scroll;
        box-sizing: border-box;
    }

    &-toolkits {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
        box-sizing: border-box;
        z-index: 1000;

        &—inner {
            width: @width-a4;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
    }

    &-page-item {
        width: @width-a4;
        height: @height-a4;
    }

    &-page-full {
        width: @width-a4;
    }
}
