.container {
  position: relative;
  padding: 40px;
  box-sizing: border-box;
}

.billitem {
  &_title {
    margin-bottom: 10px;
    font-size: 28px;
    color: #333333;
    &::before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &:not(:first-child) {
    margin-top: 20px;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid #eeeeee;
  }
}

.add {
  position: fixed;
  top: 40px;
  right: 40px;
  font-size: 24px;
  color: #333333;
  &::after {
    border: none;
  }
}
