.account {
    position: fixed;
    width: 300px;
    right: 80px;
    top: 80px;
}

.float_button {
    transition: all 0.3s;
}

.float_button_unsign {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
