.ball {
    position: relative;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    display: inline-block;
    overflow: hidden;
    box-shadow: 10px 10px 10px #0004;
    background-color: #aaa;
}
.ball::before {
    content: '';
    background: #fff;
    border-radius: 100%;
    position: absolute;
    left: -15%;
    top: -15%;
    right: 5%;
    bottom: 5%;
    border: calc(var(--size) / 3) solid var(--color);
    filter: blur(calc(var(--size) / 10));
}
