/* .markdown-body pre {
  padding: 0 !important;
} */
.markdown-body {
    pre > div {
        margin: 0 !important;
        background: transparent !important;
    }
    code {
        white-space: break-spaces !important;
        padding: 0 !important;
    }
    table {
        width: 100% !important;
    }

    ul {
        list-style: disc !important;
    }

    ol {
        list-style: decimal !important;
    }
}

:root {
    --resume-page-width: 794px;
    --resume-page-height: 1123px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
}
