@import '~@best/core/es/style/preclude.less';
@import './version.less';

@name: button;
@button-prefix: ~'@{best-less-prefix}-@{name}';
@best-button-vars: {
    height: v(size-7);
};

.@{button-prefix}[data-version=~'"@{version}"'] {
    .load-css-vars(@best-button-vars, @name);
    display: block;
}
